@charset "utf-8";

body {
    width: 100%;
    margin: 0;
    padding: 0
}

.row:before;
.row:after {
    content: "";
    clear: both;
    display: block;
}

   /* DESKTOP */
@media screen and (max-width:1432px){

body {
    background-color: whitesmoke;
}

        .col_1 {width: calc(8.33%);}
        .col_2 {width: calc(16.66%);}
        .col_3 {width: calc(25%);}
        .col_4 {width: calc(33.33%);}
        .col_5 {width: calc(41.66%);}
        .col_6 {width: calc(50%);}
        .col_7 {width: calc(58.33%);}
        .col_8 {width: calc(66.66%);}
        .col_9 {width: calc(75%);}
        .col_10 {width: calc(83.33%);}
        .col_11 {width: calc(91.66%);}
        .col_12 {width: calc(100%);}
        
    [class*="col_"]:first-child {margin-left: 0;}
    [class*="col_"] {
        float: left;
        min-height: 5vh;
    } 
       
header {
      border-top-color: #ffffff;
    border-top-style: solid;
    border-top-width:0.5vh;
      border-bottom-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width:0.5vh;
    background-color: #00bcd7;
}    

.nome {
    display: inline-block;
    font-family: sans-serif;
    margin: 0;
    color:#ffffff;
    font-weight: bold;
    font-size: 4vw;
    text-align: center;
}

/* lista header */
    
nav ul {
    display: inline-block;
    margin: 0;
    opacity: 0.90;
    padding-left: 0;
}

nav ul li {
    margin-top: 0.5vw;
    font-family: sans-serif;
    padding-left: 1vw;
    text-align: center;
    list-style-type: none;
    display: inline-block;
    font-size: 2vw;
}

nav ul li:hover {
    border-bottom-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width:0.3vh;
    text-align: center;
    list-style-type: none;
    display: inline-block;
    font-size: 2.4vw;
}    

li a   {
    padding-top: 0.5vw;
    display: inline-block;
    color:#ffffff;
    text-decoration: none;
}    
   
/* imagem fundo */       
    
.imgfundo {
    margin: 0;
    background-image: url(../imagens/MMD.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 70vh;
    border-bottom-color: #00bcd7;
    border-bottom-style: solid;
    border-width:0.4vh;
}
  
/*Redes Socias */    
    
.rede {
 }
    
.rede h1 {
    border-radius: 8vw;
    margin-left: 10%;
    width: 80%;
    font-family: sans-serif;
    font-size: 3.6vh;
    background-position: right;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    background-color: #057787;
    }   
    
    
.rede p {
    font-family: sans-serif;
    padding: 1vw;
    width: 90%;
    margin-left: 5%;
    background-color: #ffffff;
    word-wrap: break-word;
    text-align: center;
    font-size: 2vw;
    color: #0c4c55;
    }    

  
.redes {
    height: 9vh;
    border-bottom-color: #00bcd7;
    border-bottom-style: solid;
    border-bottom-width:0.5vh;
    border-top-color: #00bcd7;
    border-top-style: solid;
    border-top-width:0.5vh;
    border-radius: 8vw;
    background-color: #dbeef1;
}     

.face {
    height: 100%;
    background-image: url(../imagens/logos/facei.png);
    background-position: center;
    background-size: 4.7vw;
    background-repeat: no-repeat;
}
.face:hover {
    opacity: 0.7;
    background-size: 5vw;
    }

.insta {
    background-image: url(../imagens/logos/insta.png);
    background-position: center;
    background-size: 4.7vw;
    background-repeat: no-repeat;
    height: 100%;
}
.insta:hover {
    opacity: 0.7;
    background-size: 5vw;
}

.youtube {
    background-image: url(../imagens/logos/youtube.png);
    background-position: center;
    background-size: 4.7vw;
    background-repeat: no-repeat;
    height: 100%;
}
    
.youtube:hover {
    opacity: 0.7;
    background-size: 5vw;
 }

/*3a secção    */
    
.third {
    font-family: sans-serif;
}

    
.third h1{
    border-radius: 8vw;
    background-color: #dbeef1;
    border-top-color: #ffffff;
    border-top-style: solid;
    border-top-width:1.5vh;
    border-radius: 2vw;
    font-size: 6vh;
    text-align: center;
    opacity: 1;
    padding: 1vw;
    margin-top: 0;
    color: white;
    background-color: #057787;
    border-bottom-color: #ffffff;
    border-bottom-style: solid;
    border-width:1.5vh;
   
}

.third p {
    width: 60%;
    margin-left: 20%;
    line-height: 100%;
    box-sizing: border-box;
    font-size: 3.5vh; 
    word-wrap: break-word;
    text-align: left;
    color: #0c4c55;
}
    
/*4a secção    */
    
.fourth {
    font-family: sans-serif;
    background-color: #dbeef1;
}
    
.fourth h1 {
    padding: 1vw;
    border-radius: 8vw;
    font-size: 6vh;
    text-align: center;
    color: white;
    background-color: #057787;
    border-bottom-color: #ffffff;
    border-bottom-style: solid;
    border-width:1.7vh;
    border-top-color: #ffffff;
    border-top-style: solid;
    border-top-width:1.7vh;
}
    
.fourth p {
    width: 38%;
    margin-left: 5%;
    line-height: 110%;
    text-align: left;
    color: #0c4c55;
    font-size: 3.7vh;   
}
    
/* botao inscrece-te */    

.botao {
    border-right-color: #ffffff;
    border-right-style: solid;
    border-width:1vh;
    border-left-color: #ffffff;
    border-left-style: solid;
    border-width:0.5vh;
    width: 39%;
    padding: 11vh; 
    text-align: center;
    background-image: url(../imagens/logos/botao2.png);
    background-size: 40vw;
    background-repeat: no-repeat;
    background-position: center;
}
    
.botao:hover {
    background-image: url(../imagens/logos/botao2.png);
    background-size: 43vw;
    background-repeat: no-repeat;
    background-position: center;
}
   
.botao a {
    text-decoration: none;
    color: #ffffff;
}

.clica {
    padding: 3vh;
    font-size: 2.6vw;
    font-family: sans-serif;
}

/* Pop Up */    
    
#mascara{
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
}    
    
.window{
    margin-top: 120%;
    box-sizing: border-box;
    border: none;
    display:none;
    width:40%;;
    height:100vh;
    position:absolute;
    background:#FFF;
    z-index:9900;
    padding:1%;
    border-radius:10px;
}
    
legend {
     font-family: sans-serif;
    font-size: 4vh;
}

.escreve {
    width: 200%;
} 
   
.escrever {
     width: 85%;
    height: 30vh;   
 } 
    
.fechar p {
    font-size: 1.5vw;
    width: 90%;
    color: black;
    text-align: right;
} 
    
.fechar{
    display:block; 
    text-align:right;
}    
        
/*5asecção    */
.five {
    background-color: #ffffff;
    border-top-color: #ffffff;
    border-top-style: solid;
    border-top-width:1.5vh;    
}   

.five h2 {
     padding: 1vw;
    border-radius: 8vw;
    font-size: 6vh;
    text-align: center;
    font-family: sans-serif;
    color: white;
    background-color: #057787;
    border-bottom-color: #ffffff;
    border-bottom-style: solid;
    border-width:1.5vh;
    font-weight: bold;
	margin: 0 0 .2em;
}
    
/* Lista */    
    
.five ul {
    margin-left: 15%;
    font-family: sans-serif;
    width: 65%;
    list-style-type: none;
    
    }
.five ul li {
    border-radius: 4vw;
    background-color:  #77c9d4;
    color: #057787;
    font-size: 1.5vw;
    text-align: center;  
}
    
ul h5 {
    border-radius: 1vw;
    color: #ffffff;
    border-bottom-color: #ffffff;
    border-bottom-style: solid;
    border-width:0.5vh;
    border-top-color: #ffffff;
    border-top-style: solid;
    border-top-width:0.5vh;
    font-size: 2vw;
    background-color: #057787;
    }

/* 2 imagens */
    
.imagem {
    border-radius: 1vw;
     width: 90%;
    margin-left: 5%;
    background-image: url(../imagens/mmjesolio.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 115vh;
}
    
.imagem:hover {
    border-radius: 1vw;
    width: 90%;
    margin-left: 5%;
    background-image: url(../imagens/mmjesolio.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 115vh;
}    

.imagem1 {
    border-radius: 1vw;
    width: 90%;
    margin-left: 5%;
    background-image: url(../imagens/drmm2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 115vh;
}
    
.imagem1:hover {
    border-radius: 1vw;
    width: 90%;
    margin-left: 5%;
    background-image: url(../imagens/drmm2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 115vh;
}    
    
    
.botao2 {
    border-bottom-left-radius: 2vw;
    background-color: #dbeef1;
    text-align: center;
    height: 8vh;
    border-bottom-color: #77c9d4;
    border-bottom-style: solid;
    border-width:1.5vh;
    border-top-color: #77c9d4;
    border-top-style: solid;
    border-top-width:1.5vh;
}    
    
.botaof {
    height: 100%;
    background-image: url(../imagens/logos/botao2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
    
.botaof:hover {
    background-image: url(../imagens/logos/botao2.png);
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
}
    
.botaof p {
    padding-top: 2vh;
    margin: 0;
    font-size: 2vw;
}

.botaof a {
    text-decoration: none;
    color: #ffffff;
}  
    

/* rede footer */
    
.redesf {
    border-bottom-right-radius: 2vw;
    height: 8vh;
    border-bottom-color: #77c9d4;
    border-bottom-style: solid;
    border-width:1.5vh;
    border-top-color: #77c9d4;
    border-top-style: solid;
    border-top-width:1.5vh;
    background-color: #dbeef1;
}  

.facef {
    background-image: url(../imagens/logos/facei.png);
    background-position: center;
    background-size: 22%;
    background-repeat: no-repeat;
    height: 100%;
}
.facef:hover {
    opacity: 0.7;
    background-size: 45%;
    }

.instaf {
     background-size: 22%;
    background-image: url(../imagens/logos/insta.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
.instaf:hover {
    opacity: 0.7;
    background-size: 45%;
}

.youtubef {
    background-size: 22%;
    background-image: url(../imagens/logos/youtube.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
    
.youtubef:hover {
    background-size: 45%;
    opacity: 0.7;
 }  
   
    footer {
    color: white;
    font-size: 1.5vw; 
    background-color: #ffffff;
    } 
    
    footer p {
        text-align: center;
        background-color: #057787;
    }    
}



/* TABLET */

@media screen and (max-width:768px) {

.colt_1 {width: calc(12.5%);}
.colt_2 {width: calc(25%);}
.colt_3 {width: calc(37.5%);}
.colt_4 {width: calc(50%);}
.colt_5 {width: calc(62.5%);}
.colt_6 {width: calc(75%);}
.colt_7 {width: calc(87.5%);}
.colt_8 {width: calc(100%);}

[class*="colt_"]:first-child {margin-left: 0;}
[class*="colt_"] {
    float: left;
    min-height: 8vh;
}
    
    html {
        width: 100%;
    }
    
.naovisivel {
    display: none;
}    
    
header {
     border-top-color: #00bcd7;
    border-top-style: solid;
    border-top-width:0.5vh;
    background-color: #ffffff;
}    

.nome {
    margin-top: 1.2vh;
    font-family: sans-serif;
    color:#057787;
    font-weight: bold;
    font-size: 7vw;
    text-align: left;
}
    
/* Hamburguer */      

.hambc {
    padding-top: 3.3vh;
    height: 8vh;
    background-repeat: no-repeat;
    background-size: 14vw 14vw ;
    background-position: center;
    background-image: url(../imagens/hamb.png);
}

/* Lista header */    
    
nav ul {
    width: 70%;
    position: absolute;
    background-color: #74AFAD;
    opacity: 0.90;
    padding-left: 0;
}

nav ul li {
    margin-left: 0;
    text-align: center;
    padding: 2vw;
    line-height: 150%;
    list-style-type: none;
    display: block;
    font-size: 7.2vw;
}

nav ul li:hover {
    border-top-color: #ffffff;
    border-top-style: solid;
    border-top-width:0.5vh;
    margin-left: 0;
    text-align: center;
    line-height: 170%;
    list-style-type: none;
    display: block;
    font-size: 7vw;
    opacity: 0.5;
  
}    
    
li a   {
    color: aliceblue;
    text-decoration: none;
}
    
/* imagem fundo */    

.imgfundo {
    height: 80vh;
    background-image: url(../imagens/MMM.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-bottom-color: #00bcd7;
    border-bottom-style: solid;
    border-width:0.5vh;
    border-top-color: #00bcd7;
    border-top-style: solid;
}

/*Redes Socias */
    
.rede {
    background-color: #ffffff;
 }
    
.rede h1 {
    padding: 1%;
    border-radius: 2vw;
    font-family: sans-serif;
    font-size: 5vh;
    background-position: right;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    background-color: #057787;
    }   
    
.rede p {
    margin: 6vh;
    font-family: sans-serif;
    word-wrap: break-word;
    text-align: center;
    font-size: 3.5vw;
    color: #0c4c55;
    }    

  
.redes {
    height: 11.5vh;
    border-radius: 6vw;
    border-bottom-color: #00bcd7;
    border-bottom-style: solid;
    border-width:0.5vh;
    border-top-color: #00bcd7;
    border-top-style: solid;
}     

.face {
    height: 100%;
    background-image: url(../imagens/logos/facei.png);
    background-position: center;
    background-size: 25%;;
    background-repeat: no-repeat;
}
.face:hover {
    opacity: 0.8;
    background-size: 43%;
}

.insta {
    background-image: url(../imagens/logos/insta.png);
    background-position: center;
    background-size: 38%;
    background-repeat: no-repeat;
    height: 100%;
}
.insta:hover {
    opacity: 0.8;
    background-size: 62%;
}

.youtube {
    background-image: url(../imagens/logos/youtube.png);
    background-position: center;
    background-size: 25%;
    background-repeat: no-repeat;
    height: 100%;
}
    
.youtube:hover {
    opacity: 0.8;
    background-size: 43%;
 }      

/* 3a secção */
    
.third {
    background-color: #dbeef1;
    border-top-color: #ffffff;
    border-top-style: solid;
    border-top-width:1vh;
    font-family: sans-serif;
}

    
.third h1{
    font-size: 5vh;
    padding: 1vw;
    border-radius: 2vh;
    color: white;
    background-color: #057787;
    border-bottom-color: #ffffff;
    border-bottom-style: solid;
    border-width:0.7vh;
}

.third p {
    width: 70%;
    margin-left: 15%;
    font-size: 3.8vh;
    color: #0c4c55;
}
    
/* 4a secção */
    
.fourth {
    font-family: sans-serif;
    background-color: #dbeef1;
}
    
.fourth h1 {
    font-size: 5vh;
    padding: 1vw;
    border-radius: 2vh;
    color: white;
    background-color: #057787;
    border-bottom-color: #ffffff;
    border-bottom-style: solid;
    border-width:0.7vh;
    border-top-color: #ffffff;
    border-top-style: solid;
    border-top-width:0.7vh;
}
 

    
.fourth p {
    margin-top: 0;
    margin-left: 10%;
    width: 40%;
    text-align: left;
    color: #0c4c55;
    font-size: 140%;   
}    
  
/* botao inscrece-te */    
    
.botao {
    display: inline;
    box-sizing: border-box;
    width: 81%;
    padding: 5vh; 
    text-align: center;
    background-image: url(../imagens/logos/botao2.png);
    background-size: 60vw;
    background-repeat: no-repeat;
    background-position: center;
}
    
.botao:hover {
    background-image: url(../imagens/logos/botao2.png);
    background-size: 50vw;
    background-repeat: no-repeat;
    background-position: center;
}
   
.botao a {
    
    text-decoration: none;
    color: #ffffff;
}

.clica {
    font-size: 3.3vw;
    width: 100%;
    font-family: sans-serif;
 }
 
/* Pop Up */    
    
#mascara{
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
}    
    
.window{
    margin-top: 98%;
    box-sizing: border-box;
    border: none;
    display:none;
    width:70%;
    height:85vh;
    position:absolute;
    background:#FFF;
    padding:1%;
    border-radius:10px;
}
    
legend {
    font-family: sans-serif;
    font-size: 4vh;
}

.escreve {
    width: 200%;
} 
   
.escrever {
    width: 90%;
    height: 30vh;    
}    
    
.fechar p {
    font-size: 2.5vw;
    width: 80%;
    color: black;
    text-align: right;
}    
    
.fechar{
    display:block; 
    text-align:right;
}      
/*5asecção    */
.five {
    background-color: #ffffff;
    border-top-color: #ffffff;
    border-top-style: solid;
    border-top-width:0.5vh;    
}

.five h2 {
    border-radius: 2vh;
    font-family: sans-serif;
    color: white;
    background-color: #057787;
    border-bottom-color: #ffffff;
    border-bottom-style: solid;
    border-width:0.7vh;
}

/* lista */    
    
.five ul {
    margin-left: 5%;
    font-family: sans-serif;
    width: 80%;
    list-style-type: none;
    
    }
.five ul li {
    background-color: #dbeef1;
    color: #057787;
    font-size: 2.7vw;
    text-align: center;  
}
    
ul h5 {
    border-bottom-color: #ffffff;
    border-bottom-style: solid;
    border-width:0.5vh;
    border-top-color: #ffffff;
    border-top-style: solid;
    border-top-width:0.5vh;
    font-size: 3vw;
    background-color: #77c9d4;
    }
    
 
/* 2 imagens */    

.imagem {
    border-radius: 5vw;
     width: 50%;
    margin-left: 25%;
    background-image: url(../imagens/mmjesolio.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 30vh;
}
    
.imagem:hover {
    width: 80%;
    margin-left: 10%;
    height: 80vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../imagens/mmjesolio.jpg);
}    

.imagem1 {
    border-radius: 5vw;
     width: 50%;
    margin-left: 25%;
    background-image: url(../imagens/drmm2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 30vh;
}
    
.imagem1:hover {
    width: 80%;
    margin-left: 10%;;
    height: 80vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../imagens/drmm2.jpg);
}    

    

/* Botao increve-te footer */    
    
.botao2 { 
    background-color: #ffffff;
    text-align: center;
    border-bottom-color: #ffffff;
    border-bottom-style: solid;
    border-width:0.5vh;
    border-top-color: #77c9d4;
    border-top-style: solid;
    border-top-width:0.5vh;
    }    
    
.botaof {
    margin-bottom: 1vw;
    background-image: url(../imagens/logos/botao2.png);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
}
    
.botaof:hover {
    background-image: url(../imagens/logos/botao2.png);
    background-size: 190%;
    background-repeat: no-repeat;
    background-position: center;
}
    
.botaof p {
    padding: 7%;
    font-size: 3vw;
}

.botaof a {
    text-decoration: none;
    color: #ffffff;
}    
    
/* Redes Footer */       

.redesf {
    background-color: #ffffff;
    border-bottom-color: #ffffff;
    border-bottom-style: solid;
    border-width:0.5vh;
    border-top-color: #77c9d4;
    border-top-style: solid;
    border-top-width:0.5vh;
}  

.facef {
    background-image: url(../imagens/logos/facei.png);
    background-position: center;
    background-size: 34%;
    background-repeat: no-repeat;
    height: 100%;
}
    
.facef:hover {
    opacity: 0.8;
    background-size: 30%;
}

.instaf {
    background-image: url(../imagens/logos/insta.png);
    background-position: center;
    background-size: 53%;
    background-repeat: no-repeat;
    height: 100%;
}
.instaf:hover {
    opacity: 0.8;
    background-size: 50%;
}

.youtubef {
    background-image: url(../imagens/logos/youtube.png);
    background-position: center;
    background-size: 34%;
    background-repeat: no-repeat;
    height: 100%;
}
    
.youtubef:hover {
    background-size: 30%;
    opacity: 0.8;
 }  
    
 /* Footer */     
   
footer {
    border-top-width:0.5vh;    
    background-color: #77c9d4;
}    

footer p{
    background-color: #00bcd7;
    color: white;
    font-size: 2.5vw;
    text-align: center;
}        
    
}


/* MOBILE */
@media screen and (max-width:480px){

    
.colm_1 {width: 20%;}
.colm_2 {width: 40%;}
.colm_3 {width: 60%;}
.colm_4 {width: 80%;}
.colm_5 {width: 100%;}

[class*="colm_"]:first-child {margin-left: 0;}
[class*="colm_"] {
    float: left;
    min-height: 20px;
}

   
/* Header */
    
header {
    border-top-color: #dbeef1;
    border-top-style: solid;
    border-top-width:0.3vh;
    background-color: #ffffff;
}

.nome {
    padding-top: 0.4vw;
    color:#057787;
    margin: 0;
    font-weight: bold;
    font-size: 9vw;
    text-align: left;
}

/* Hamburguer */    
    
.hambc {
    height: 5vh;
    background-repeat: no-repeat;
    background-size: 14vw 15vw ;
    background-position: center;
    background-image: url(../imagens/hamb.png);
}


nav ul {
    width: 75vw;
    position: absolute;
    background-color: #74AFAD;
    opacity: 0.90;
    padding-left: 0;
    margin: 0;
}

nav ul li {
    margin-left: 0;
    text-align: center;
    padding: 3vw;
    line-height: 200%;
    list-style-type: none;
    display: block;
    font-size: 8vw;
}
    
nav ul li:hover {
    border-bottom-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width:0.3vh;
    text-align: center;
    list-style-type: none;
    font-size: 7.2vw;
    opacity: 0.6;
}       

li a   {
    color: aliceblue;
    text-decoration: none;
}

/* imagem fundo */    
    
.imgfundo {
    background-image: url(../imagens/MMM.jpg);
    background-position: top;
    background-size: 100%;;
    background-repeat: no-repeat;
    height: 50vh;
    border-bottom-color: #77c9d4;
    border-bottom-style: solid;
    border-width:0.5vh;
    border-top-color: #dbeef1;
    border-top-style: solid;
    border-top-width:0.5vh;
}

    
/*Redes Socias */
    
.rede {
    border-radius: 4vw;
    background-color: #ffffff;
 }

.rede h1 {
    font-family: sans-serif;
    font-size: 3.6vh;
    background-position: right;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    background-color: #057787;
    }    
    
.rede p {
    margin-bottom: 1vh;
    margin-left: 0;
    width: 100%;
    background-color: #ffffff;
    word-wrap: break-word;
    text-align: center;
    font-size: 4vw;
    color: #0c4c55;
    }    

  
.redes {
    border-radius: 8vw;
    border-top-color: #ffffff;
    border-top-style: solid;
    border-top-width:0.7vh;
    height: 8.5vh;
    background-color: #dbeef1;
}  

.face {
    background-image: url(../imagens/logos/facei.png);
    background-position: center;
    background-size: 30%;
    background-repeat: no-repeat;
    height: 100%;
}
.face:hover {
    opacity: 0.7;
    background-size: 50%;
    }

.insta {
    background-image: url(../imagens/logos/insta.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    height: 100%;
}
.insta:hover {
    opacity: 0.7;
    background-size: 90%;
}

.youtube {
    background-image: url(../imagens/logos/youtube.png);
    background-position: center;
    background-size: 30%;
    background-repeat: no-repeat;
    height: 100%;
}
    
.youtube:hover {
    opacity: 0.7;
    background-size: 50%;
 }  
    
/* 3a secção */
    
.third {
    background-color: #dbeef1;
    border-top-color: #ffffff;
    border-top-style: solid;
    border-top-width:0.7vh;
}

    
.third h1{
    font-size: 3.6vh;
    background-position: right;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    background-color: #057787;
    border-bottom-color: #ffffff;
    border-bottom-style: solid;
    border-width:0.7vh;
   
}

.third p {
    font-size: 5vw;
    width: 80%;
    margin-left: 10%;
    word-wrap: break-word;
    text-align: left;
    color: #0c4c55;
}
  
/* 4a secção */
    
.fourth {
    background-color: #dbeef1;
}
    
.fourth h1 {
    font-size: 3.6vh;
    color: white;
    text-align: center;
    background-color: #057787;
    border-bottom-color: #ffffff;
    border-bottom-style: solid;
    border-width:0.7vh;
    border-top-color: #ffffff;
    border-top-style: solid;
    border-top-width:0.7vh;
}
    
.fourth p {
    line-height: 3vh;
    font-size: 4.5vw;
    width: 80%;
    margin-left: 10%;
    word-wrap: break-word;
    text-align: center;
    color: #0c4c55;   
}   
    
/* botao inscrece-te */
    
.botao {
    display: inline;
    box-sizing: border-box;
    text-align: center;
    background-image: url(../imagens/logos/botao2.png);
    background-size: 160%;
    background-repeat: no-repeat;
    background-position: center;
}
    
.botao:hover {
    background-image: url(../imagens/logos/botao2.png);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
}
   
.botao a {
    text-decoration: none;
    color: #ffffff;
}

.clica {
    font-size: 3.7vw;
    font-family: sans-serif;
 }
    
/* Pop Up */
    
#mascara{
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
}    
    
.window{
    margin-top: 158%;
    box-sizing: border-box;
    border: none;
    display:none;
    width:98vw;
    height: 72vh;
    position:absolute;
    background:#FFF;
    z-index:9900;
    padding:1%;
    border-radius:10px;
}
    
legend {
    font-family: sans-serif;
    font-size: 4vh;
}

.escreve {
    width: 100%;
} 
   
.escrever {
    width: 85%;
    height: 30vh;    
}    
    
.fechar p {
    width: 80%;
    color: black;
    text-align: right;
}    
      
    
.fechar{
    display:block; 
    text-align:right;
}   
/*5asecção    */

.five {
    box-sizing: border-box;
    background-color: #ffffff;  
}

.five h2 {
    background-position: right;
    background-repeat: no-repeat;
    font-size: 3.6vh;
    margin-top: 0;
    color: white;
    background-color: #057787;
    border-bottom-color: #ffffff;
    border-bottom-style: solid;
    border-width:0.7vh;
    border-top-color: #ffffff;
    border-top-style: solid;
    border-top-width:0.5vh;
	font-weight: bold;
	margin: 0 0 .2em;
}

/* lista */    
    
.five ul {
    margin-left: 0;
    font-family: sans-serif;
    width: 80%;
    list-style-type: none;
    
}
    
.five ul li {
    background-color: #ffffff;
    color: #057787;
    font-size: 4vw;
    text-align: center;  
}
    
ul h5 {
    border-radius: 40vw;
    margin-left: 15%;
    width: 70%;
    color: #ffffff;
    border-bottom-color: #057787;
    border-bottom-style: solid;
    border-width:0.5vh;
    border-top-color: #057787;
    border-top-style: solid;
    border-top-width:0.5vh;
    font-size: 4.1vw;
    background-color: #77c9d4;
    }

/* 2 imagens */    

.imagem {
     border-radius: 5vw;
     width: 55%;
    margin-left: 25%;
    background-image: url(../imagens/mmjesolio.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 15vh;
}
    
.imagem:hover {
    border-radius: 5vw;
     width: 90%;
    margin-left: 5%;
    background-image: url(../imagens/mmjesolio.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 43vh;
}    

.imagem1 {
    border-radius: 5vw;
     width: 55%;
    margin-left: 25%;
    background-image: url(../imagens/drmm2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 15vh;
}
    
.imagem1:hover {
   border-radius: 5vw;
     width: 90%;
    margin-left: 5%;
    background-image: url(../imagens/drmm2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 43vh;
}    

    
/* Botao increve-te footer */    
    
.botao2 {
    height: 14vw;
    border-bottom-color: #77c9d4;
    border-bottom-style: solid;
    border-width:0.5vh;
    border-top-color: #77c9d4;
    border-top-style: solid;
    border-top-width:0.5vh;
    }    
    
.botaof {
    
    box-sizing: border-box;
    background-image: url(../imagens/logos/botao2.png);
    background-size: 100%;;
    background-repeat: no-repeat;
    background-position: center;
}
    
.botaof:hover {
    background-image: url(../imagens/logos/botao2.png);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
}
   
.botaof p {
    padding: 4vw;
     font-size: 5vw;
} 

.botaof a {
    text-decoration: none;
    color:aliceblue;
}

/* Redes Footer */    
     
.redesf {
    border-radius: 8vw;
    height: 6vh;
    background-color: #dbeef1;
     border-bottom-color: #77c9d4;
    border-bottom-style: solid;
    border-width:0.5vh;
}  

.facef {
    background-image: url(../imagens/logos/facei.png);
    background-position: center;
    background-size: 23%;
    background-repeat: no-repeat;
    height: 100%;
}
.facef:hover {
    opacity: 0.7;
    background-size: 20%;
    }

.instaf {
     background-size: 45%;
    background-image: url(../imagens/logos/insta.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
.instaf:hover {
    opacity: 0.7;
    background-size: 39%;
}

.youtubef {
     background-size: 23%;
    background-image: url(../imagens/logos/youtube.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
    
.youtubef:hover {
    background-size: 20%;
    opacity: 0.7;
 }  
    
/* Footer */    
   
footer {   
    background-color: #ffffff;
    }   

footer p{
     color: white;
    font-size: 3.5vw;
    }    
}

